$primary-color: #000000;
$accent-color: #7fffd4;

$primary-background-color: #f5f5dc;
$secondary-background-color: #fdfcfc;

$button-color: #c0c0c0;

$button-delete-hover: #dc143c;
$button-delete-hover-text: #FFFFFF;

$telephone-hover: #4040dd;